/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ev-dark-brown: #3D3924;
    --ev-gold: #CFAF54;
    --ev-vanilla: #e8daaa;
    --ev-ebony: #5C5B3F;
    --ev-reseda-green: #7C7847;
    --ev-cat-tan-traveler: #A79273;
    --ev-cat-green-production: #8AAA60;
    --ev-cat-red-destination: #A74F5F;
    --ev-cat-blue-governance: #53869B;
    --ev-cat-purple-prosperity: #705697;
}

/* linear-gradient(152deg, #ffd478, #424242) */

body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    height: 100vh;
    background: var(--ev-vanilla);
    background-attachment: fixed;
}

/* Header */
body>header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0px;
    z-index: 10;
    color: white;
    background-color: var(--ev-dark-brown);
    border-bottom: 1px solid var(--ev-reseda-green);
}

.logo {
    width: clamp(180px, 10%, 250px);
    height: auto;
}

header #player-data {
    display: flex;
    gap: 10px;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    gap: 5px;
}

/* Main */
main {
    display: grid;
    grid-template-areas:
        "locations locations"
        "player-area player-area"
        "meadow meadow";
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    padding: 10px;
}

#locations {
    grid-area: locations;
    background-color: #e9ecef;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#locations ul {
    display: grid;
    list-style: none;
    gap: 0.6rem;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

#locations ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px dotted var(--ev-reseda-green);
    padding: 1rem;
}

#player-area {
    grid-area: player-area;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#meadow {
    grid-area: meadow;
}

/* Cards Grid & Single Cards */
.cards-grid {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 2fr)); */
    gap: 1rem;
}

.cards-grid:empty::before {
    content: "No cards to display";
    color: var(--ev-ebony);
    font-style: italic;
    display: block;
    text-align: center;
    padding: 10px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 0.9rem;
    text-transform: capitalize;
    border-radius: 10px;
    background-color: var(--ev-gold);
    width: 215px;
    height: 150px;
}

.traveler {
    background-color: var(--ev-cat-tan-traveler);
}

.production {
    background-color: var(--ev-cat-green-production);
}

.destination {
    background-color: var(--ev-cat-red-destination);
}

.governance {
    background-color: var(--ev-cat-blue-governance);
}

.prosperity {
    background-color: var(--ev-cat-purple-prosperity);
}

.card header {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    color: white;
    border-radius: 10px 10px 0 0;
    align-items: center;
}

.card .category,
.card .value,
.card p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card p {
    flex-grow: 2;
    text-align: center;
}

.card .name-type {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h3 {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 0;
}

.card .type {
    font-size: 0.7rem;
}

.card .value {
    font-size: 1.2rem;
    background-color: rgb(150, 177, 125);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid white;
}

.card footer {
    flex-grow: 0.5;
    display: grid;
    color: white;
    border-radius: 0 0 10px 10px;
}

.card .cost {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}

/* Footer */
body>footer {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    background-color: var(--ev-dark-brown);
    border-top: 1px solid var(--ev-reseda-green);
    position: sticky;
    bottom: 0;
    z-index: 10;
}

/* Popup */
#computer-area {
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    background-color: white;
    border-top: 2px solid #ccc;
    padding: 10px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

#discard-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-top: 2px solid #ccc;
    padding: 10px;
    display: none;
}